<form [formGroup]="registerActivityForm" (ngSubmit)="registerForActivity()">
  <div class="form-container">
    <h2 class="form-title">רישום לפעילות</h2>
    
    <div class="input-group">
      <label for="IdNumber">מ.זהות</label>
      <input id="IdNumber" formControlName="IdNumber" placeholder="מ.זהות" required />
      
      @if(registerActivityForm.get('IdNumber')?.invalid && registerActivityForm.get('IdNumber')?.touched)
      {<div>
        מ. זהות הוא שדה חובה
      </div>}
    </div>
    
    <button type="submit" [disabled]="registerActivityForm.invalid" class="submit-btn">
      הרשמה
    </button>
  </div>
</form>
