<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label>מספר זהות:</label>
    <input type="text" formControlName="IdNumber" required>
    @if(registerForm.get('IdNumber')?.invalid && registerForm.get('IdNumber')?.touched)
    {<div>
      מ. זהות הוא שדה חובה
    </div>}
  </div>
  <div class="form-group">
    <label>שם פרטי:</label>
    <input type="text" formControlName="FirstName" required>
    @if(registerForm.get('FirstName')?.invalid && registerForm.get('FirstName')?.touched)
    { <div>
      חובה להזין שם .
    </div>
    }
  </div>

  <div class="form-group">
    <label>שם משפחה:</label>
    <input type="text" formControlName="LastName" required>
    @if(registerForm.get('LastName')?.invalid && registerForm.get('LastName')?.touched)
    { <div>
      חובה להזין משפחה .
    </div>
    }
  </div>
  <div class="form-group">
    <label>כתובת:</label>
    <input type="text" formControlName="Address" required>
    @if(registerForm.get('Address')?.invalid && registerForm.get('Address')?.touched)
    { <div>
      חובה להזין כתובת .
    </div>
    }
  </div>
  <div class="form-group">
    <label> טלפון:</label>
    <input type="Phone" formControlName="Phone" required>
    @if(registerForm.get('Phone')?.invalid && registerForm.get('Phone')?.touched)
    { <div>
      חובה להזין טלפון .
    </div>
    }
  </div>
  <div class="form-group">
    <label>עיר :</label>
    <input type="text" formControlName="City" required>
    @if(registerForm.get('City')?.invalid && registerForm.get('City')?.touched)
    { <div>
      חובה להזין עיר .
    </div>
    }
  </div>
  <div class="form-group">
    <label>Email :</label>
    <input type="Email" formControlName="Email" required>
    @if(registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched)
    { <div>
      חובה להזין מייל תקין .
    </div>
    }
  </div>
  <div class="form-group">
    <label>תאריך לידה :</label>
    <input type="date" formControlName="BirthDate" required>
    @if(registerForm.get('BirthDate')?.invalid && registerForm.get('BirthDate')?.touched)
    { <div>
      חובה להזין תאריך לידה .
    </div>
    }
  </div>
  <input type="file" (change)="onFileChange($event, 0)"/> 
  <input type="file" (change)="onFileChange($event, 1)" /> 
  <input type="file" (change)="onFileChange($event, 2)" />
  <button type="submit" [disabled]="registerForm.invalid" class="submit-btn">Add User</button>
</form>